

footer {
    width: 100%;
    margin: 0;
    
}

.socials {
    width: 200px;
    
}


@media (max-width:600px) {

    footer {
    background-image: linear-gradient(  
    rgb(234, 171, 174) 10%,
    rgb(235, 43, 227, 0.5) 60%
  );
}


}
