footer {
  position: relative;
  width: 100%;
  line-height: 1.5;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem 1.5rem 1rem;
  vertical-align: middle;
  font-family: "Didact Gothic", sans-serif;

  /* background-image: linear-gradient(rgb(175,156,116,0.3), rgb(234,171,174),rgb(131,75,61,0.5),rgb(235,43,227,0.5)) */

  background: linear-gradient(
    180deg,
    #ffffff 65.08%,
    #ebe6db 60.38%,
    #ae8da1 88.58%,
    #a6819a 97.87%,
    rgba(53, 5, 65, 0.5) 99%
  );
  /* background: linear-gradient(180deg,#EBE6DB 34.38%, rgb(235, 43, 227, 0.5) 100%); */
}

footer a {
  color: inherit;
  text-decoration: inherit;
}

footer a:hover {
  color: rgb(85, 26, 139);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

footer a:active {
  color: rgba(246, 151, 243, 1);
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

.footer-text {
  margin: auto 0;
}

.to-top {
  margin: 9rem 0 3rem 0;
  text-align: center;
}

.to-top i {
  font-size: 2.5rem;
}

.to-top:hover {
  cursor: pointer;
  color: rgb(85, 26, 139);
}

.to-top-image {
  /* position: relative;
    top: 0.28rem;
    right: 0.3rem;  */
  width: 2vw;
}

.footer-rights {
  display: inline;
  position: absolute;
  right: 5rem;
}

@media (max-width: 768px) {
  .footer-rights {
    display: block;
    position: initial;
    padding: 0 0 0.5rem 0;
  }
}
