/* -----> Notes on Color Palette -----
 gradient colors:
 rgb(234,171,174), rgb(131,75,61), rgb(235,43,227), rgb(175,156,116,0.3)
font color of Dimitris poulimenos : rgb(124, 69, 106, 1), but looks more similar  color:  rgb(112, 22, 84);
font color of handmade: rgb(29, 55, 46, 1)
*/

@font-face {
  font-family: Sansation_Regular;
  src: url(/resources/fonts/Sansation_Regular.ttf);
}

@font-face {
  font-family: Sansation_Regular_gr;
  src: url(/resources/fonts/Sansation-Regular-gr.ttf);
}

@font-face {
  font-family: Sansation_Italic;
  src: url(/resources/fonts/Sansation_Italic.ttf);
}

* {
  scroll-behavior: smooth;
  margin: 0;
}

/*<---Header: Logo and Lantern <----*/

header {
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
  background-image: url("/resources/images/rough-plaster-wall-half.jpg");
  box-shadow: 0px 1px  5px rgb(29, 20, 23, 0.5);

}

.brand-alist ul {
  padding: 0 0 0 0;
}

.brand-alist ul li {
  display: inline-block;
}

.brand-alist ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(29, 20, 23);
  font-weight: 500;
}

.brand-name {
  border: none;
  background-color: rgba(253, 252, 252, 0.747);
  margin: 10px 0 25px 0;
  border-radius: 2px;
  box-shadow: 0px -2px  8px rgb(29, 20, 23, 0.3);
}

.brand-name:hover {
  box-shadow: 20px -1px 70px rgb(235, 43, 227, 0.6);
}

/*<----- Navigation Bar ------>*/

.nav-bar {
  /* background-color: rgb(231, 220, 209, 0.5);
  try background color :a brighter yellow like rgba(243, 243, 52, 0.63) */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-items: center;
  overflow: visible;
  max-height: 45px;
  padding: 0;
  margin: 0 0 0 0;
}



.nav-bar li {
  display: inline-block;
  color: #551a8b;
}

.nav-bar li a {
  text-decoration: none;
  padding: 0 2px;
  font-weight: 500;
}

.nav-bar li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

/* ----- Navigation Bar: Logo Image - Fanari ----*/

.logo-fanari3 {
  width: 90px;
  height: 90px;
  background-image: url(/resources/images/logo-not-lighted.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 60px 0px 0 3.4rem; 
  position:relative;
  border-radius: 40px;
 
}

.logo-fanari3:hover {
  background-image: url(/resources/images/logo-lighted2.png);
  border-radius: 40px;
  /*box-shadow:  5px 1px 30px 10px rgb(255,249,255) ,  25px -3px 90px  10px rgb(235,43,227) ; */
}

@media (max-width: 992px) {
  .logo-fanari3 {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 40px 0px 0 3.4rem;
    
    
  }
}

@media (max-width: 768px) {
  .logo-fanari3 {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 30px 0px 0 3.4rem;
   
  }
}

@media (max-width: 600px) {

  .brand-name {
    margin: 10px 0;
  }

  .brand-name-image {
    width: 90%;
  }

  
  .brand-alist ul li a {
    width: 80%;
    font-size: 1rem;
   
    
  }

  .nav-bar {
    height: 30px;
    font-size: 0.95rem;
    justify-content: center;
    background-color: rgb(231, 220, 209, 0.5);
    
  }

  .nav-bar ul li a {
    padding: 0 3.5px;
  }

  .logo-fanari3 {
    display: none; 
   
  } 
 

  .brand-name-image {
    width: 95%;
  }

  .brand-alist ul li a {
    width: 80%;
    font-size: 0.9rem;
  }


   .logo-fanari3 {
    display: none; 
  }

  .nav-bar {
    justify-content: space-evenly;
    height: 30px;
  }

  .nav-bar ul {
    padding: 0px;
  }

  
  
}
