/* -----> Notes on Color Palette -----
 gradient colors:
 rgb(234,171,174), rgb(131,75,61), rgb(235,43,227), rgb(175,156,116,0.3)
font color of Dimitris poulimenos : rgb(124, 69, 106, 1), but looks more similar  color:  rgb(112, 22, 84);
font color of handmade: rgb(29, 55, 46, 1)
*/

@font-face {
  font-family: Sansation_Regular;
  src: url(/resources/fonts/Sansation_Regular.ttf);
}

@font-face {
  font-family: Sansation_Regular_gr;
  src: url(/resources/fonts/Sansation-Regular-gr.ttf);
}

* {
  scroll-behavior: smooth;
  margin: 0;
}

/*<---Header: Logo and Lantern <----*/

header {
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
  background-image: url("https://i.pinimg.com/564x/c1/06/36/c1063630203b40780f55aebac2c8c823.jpg") ;
}

.brand-alist ul {
  padding: 0 0 0 0;
}

.brand-alist ul li {
  display: inline-block;
}

.brand-alist ul li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(29, 20, 23);
}

.brand-name {
  border: none;
  background-color: transparent;
  margin: 20px;
  border-radius: 2px;
  
}

.brand-name:hover {
  box-shadow: 20px -1px 80px rgb(235, 43, 227, 0.5); /* add shadow 25px -3px 90px rgb(235,43,227) */
}

/*<----- Navigation Bar ------>*/

.nav-bar {
  background-color: rgba(255, 250, 205, 0.8);
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-items: flex-start;
  overflow: visible;
  max-height: 20px;
  padding: 0;
  margin: 0 0 0 0;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar li a {
  text-decoration: none;
  padding: 0 0.2rem;
}

.nav-bar li a:hover {
  text-decoration: underline;

text-underline-offset: 0.2rem;

  
}

/* ----- Navigation Bar: Logo Image - Fanari ----*/

.logo-fanari3 {
  width: 90px;
  height: 90px;
  background-image: url(/resources/images/logo-lighted3.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0px 0 3.4rem;
}

.logo-fanari3:hover {
  background-image: url(/resources/images/logo-lighted.png);
  box-shadow: 20px -1px 80px whitesmoke;
  border-radius: 40%;
}

@media (max-width: 992px) {
  .logo-fanari3 {
    position: relative;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo-fanari3 {
    position: relative;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo-fanari3 {
    position: relative;
    width: 60px;
    height: 60px;
  }
}
