/* 
rgba(52, 96, 81, 0.71);
rgba(29, 55, 46, 1);  grammata
rgba(124, 69, 106, 1);
rgba(53, 5, 65, 1); grammata
rgba(235, 230, 219, 1); bckg
rgba(255, 255, 255, 1);bckg
rgb(235, 43, 227, 0.5) gia to telos ??
rgba(246, 151, 243, 1) gia to drop down menu apo figma
#551a8b   grammata default se <a>
*/

/* Linear Gradient
rgba(255, 255, 255, 1)
rgba(245, 243, 237, 1)
rgba(235, 230, 219, 1)
rgba(254, 250, 241, 0.9254)
rgba(124, 69, 106, 0.76)
rgba(53, 5, 65, 0.28) */

body {
  overscroll-behavior: none;
  overflow-x: hidden;
  background-repeat: no-repeat;
  font-family: "Sansation_Regular_gr", "Manrope", "Didact Gothic", sans-serif;
  color: black;
  font-weight: 500;
  /* line-height: 1.5em; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansation_Regular_gr", "Didact Gothic", sans-serif;
}

/* p {
  font-family: "Didact Gothic", "Manrope", sans-serif;
} */

/*<---Header: Logo and Lantern <----*/

header {
  min-height: 200px;
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
  background-image: url("/resources/images/rough-plaster-wall-half.jpg");
  box-shadow: 0px 1px 5px rgb(29, 20, 23, 0.5);
}

.logo-fanari-3-small-viewport {
  display: none;
}

.brand-alist ul {
  padding: 0 0 10px 0;
}

.brand-alist ul li {
  display: inline-block;
}

.brand-alist ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(29, 20, 23);
  font-weight: 500;
  font-family: Sansation_Regular_gr, "Didact Gothic", sans-serif;
}

.brand-name {
  border: none;
  background-color: rgba(253, 252, 252, 0.747);
  margin: 10px 0 20px 0;
  border-radius: 2px;
  box-shadow: 0px -2px 8px rgb(29, 20, 23, 0.3);
}

.brand-name:hover {
  box-shadow: 20px -1px 70px rgba(246, 151, 243, 1);
}

/*----> Main ----*/
main {
  margin: 0;
}

/*<----- Main: About Us Section ------>*/

.image-store {
  width: 100%;
}

.image-store-div {
  width: 60%;
  margin: 5.5rem auto 0 auto;
}

.about-us {
  /* width: 100%;
  margin: 0 auto; */
}

.about-us-h1 {
  margin: 10rem auto 0 auto;
  text-align: center;
  font-stretch: ultra-expanded;
  color: rgb(53, 5, 65);
}

.about-us-h2 {
  margin: 1rem auto 0 auto;
  text-align: center;
  font-stretch: ultra-expanded;
  font-size: 1.2rem;
  color: rgba(29, 55, 46, 1);
}

.about-us-h3 {
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 3rem 0 0 0;
  color: rgba(29, 55, 46, 1);
}

.about-us-text {
  width: 50%;
  background-color: rgba(235, 230, 219, 1);
  margin: 3rem auto 0 auto;
  padding: 5rem 4rem 4rem 4rem;
  font-weight: 500;
  line-height: 2;
}

.about-us-text p {
  font-weight: 600;
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.about-us-text-lightings {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}

.about-us-text-lightings ul {
  list-style-type: circle;
  list-style-image: linear-gradient(
    rgba(246, 151, 243, 1) 10%,
    rgba(124, 69, 106, 0.76) 50%,
    rgba(53, 5, 65, 0.28) 80%
  );
}

.about-us-text-lightings-img {
  position: relative;
  top: -3.5rem;
  width: 8%;
  margin: 0 0.5rem 0 2rem;

  transform: rotate(357deg);
}

.about-us-text-other-products {
  display: flex;
  align-items: center;
  margin: 2rem 0 0 0;
}

.about-us-text-other-products ul li {
  list-style-type: circle;
  /* list-style-image: linear-gradient(rgba(246, 151, 243, 1) 10%,
  rgba(124, 69, 106, 0.76) 50%,
  rgba(53, 5, 65, 0.28) 80%); */
}

.about-us-text-other-products-img {
  position: relative;
  top: -2rem;
  width: 8%;
  margin: 0 0.5rem 0 2rem;

  transform: scaleX(-1) rotate(160deg);
}

/*<----- Main: Our Products Section ------>*/

.our-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem 2rem;
  justify-content: center;

  margin: 3rem 4rem 0 4rem;
}

.our-products-h1 {
  grid-column: 1/3;
  margin: 10rem auto 1rem auto;
  text-align: center;
  font-stretch: ultra-expanded;
  color: rgb(53, 5, 65);
}

.our-products-category {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-products-category-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  z-index: -1;

  /* vertical-align: middle; */
}

.our-products-category-img-content {
  position: absolute;
  bottom: 50px;
  width: 60%;
  background-color: rgba(196, 196, 196, 0.8);
  text-align: center;
}

.our-products-category-img-content > h3 {
  color: black;
  font-weight: 500;
  z-index: -3;
}

/*<----- Main: Contact Us Section ------>*/

.contact-section {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 1.08%,
    rgb(235, 230, 219) 10.38%,
    rgb(174, 141, 161) 25.58%,
    rgba(53, 5, 65, 0.45) 31.5%,
    rgb(166, 129, 154) 33%,
    rgb(235, 230, 219) 36.38%,
    rgba(255, 255, 255, 1) 41.08%
  );
}

.contact-us {
  /* background-image: url(/resources/images/Images/liston\ easter\ miltos\ fb\ croped2.jpg);
background-repeat: no-repeat;
background-size: 100vw 100vh; */
  /* margin: 15% 15% 20% 15%; */
}

.contact-us-header {
  z-index: -2;
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
}

.contact-us-h1 {
  margin: 10rem auto 0 auto;
  text-align: center;
  font-stretch: ultra-expanded;
  color: rgb(53, 5, 65);
  /* line-height: 2; */
}

.contact-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* background-color: rgba(235, 230, 219, 1); */
  /* background-color:  rgba(255, 255, 255, 0); */
  margin: 3rem auto 0 auto;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 10.08%,
    rgba(235, 230, 219, 1) 64.38%,
    rgb(255, 255, 255, 1) 99.38%
  );
}

.contact-us-text-h3 {
  width: 80%;
  margin: 2rem 0 0 0;
  text-align: center;
  font-stretch: ultra-expanded;
  line-height: 1.5;
}

.contact-us-text p {
  margin: 2.5rem 0 0 0;
}

.contact-us-text-call-img {
  width: 3.5rem;
  margin: 0 2rem 0 2rem;
  /* margin: 0 1.5rem 0 1.5rem; */
}

.contact-us-text-message-apps {
  display: flex;
  justify-content: space-between;
}

.contact-us-text-message-apps-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem 2rem 2rem;
}

.contact-us-text-message-apps-img {
  width: 4rem;
}

.contact-us-text-message-apps-a {
  color: black;
  text-decoration: none;
  margin: 1rem 0 1rem 0;
}

/*<----- Main: Contact Us Section  : Our Address------>*/

.our-address-h1 {
  margin: 10rem auto 0 auto;
  text-align: center;
  font-stretch: ultra-expanded;
  color: rgb(53, 5, 65);
}

.our-address-map {
  margin: 3rem 0 0 0;
}

.our-address-map-google-embeded {
  width: 99%;
  height: 50vh;
  border: 10px white solid;
  margin: 0 auto 0 auto;
}

.our-address-shop-details {
  width: 100%;

  margin: 10rem 0 0 0;
  background-color: rgba(235, 230, 219, 0);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  line-height: 1.2;
}

.our-address-shop-details-image {
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  filter: drop-shadow(5px 3px 7px rgba(235, 230, 219, 1))
    drop-shadow(5px 5px 8px rgba(124, 69, 106, 0.06))
    drop-shadow(5px 7px 10px rgba(246, 151, 243, 0.3));
}

.our-address-shop-details-image-div {
  width: 35%;
}

.our-address-shop-details-text-phones {
  display: flex;
  flex-direction: column;
}

.our-address-shop-details-text-phones a {
  color: inherit;
  text-decoration: inherit;
}

.our-address-shop-details-text-phones a:hover {
  color: rgb(85, 26, 139);
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

.our-address-shop-details-text-phones a:active {
  color: rgba(246, 151, 243, 1);
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

.our-address-shop-details-text h3 {
  padding: 3rem 0 0.5rem 0;
  color: rgba(29, 55, 46, 1);
}

.fb-like-button {
  margin: 1.5rem 0 0 0;
}

/*<----- Footer ------>*/

footer {
  width: 100%;
  line-height: 1.5;
  margin: 3rem 0 0 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: linear-gradient(
    180deg,
    #ffffff 65.08%,
    #ebe6db 70.38%,
    #ae8da1 88.58%,
    #a6819a 97.87%,
    rgba(53, 5, 65, 0.5) 99%
  );
  /* background: linear-gradient(180deg,#EBE6DB 34.38%, rgb(235, 43, 227, 0.5) 100%); */
}

footer a {
  color: inherit;
  text-decoration: inherit;
}

footer a:hover {
  color: rgb(85, 26, 139);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

footer a:active {
  color: rgba(246, 151, 243, 1);
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

.to-top {
  margin: 9rem 0 3rem 0;
  text-align: center;
}

.to-top-text {
  text-decoration: none;
}

.to-top-text:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.to-top-image {
  /* position: relative;
  top: 0.28rem;
  right: 0.3rem;  */
  width: 2vw;
}

/*<----- Media Queries ------>*/

@media (max-width: 1200px) {
  .about-us-text-lightings-img {
    top: -4.2rem;
  }
}

@media (max-width: 992px) {
  .image-store-div {
    width: 80%;
    margin: 5.5rem auto 0 auto;
  }

  .about-us-text-lightings-img {
    top: -5rem;
  }

  .our-address-map-google-embeded {
    width: 99%;
    height: 50vh;
  }

  .our-address-shop-details {
    margin: 8rem 0 0 0;
  }

  .our-address-shop-details-image-div {
    width: 40%;
  }
}

@media (max-width: 768px) {
  body {
    background-image: none;
    font-size: 0.9em;
  }

  .image-store-div {
    width: 90%;
    margin: 5.5rem auto 0 auto;
  }

  .about-us-text {
    width: 75%;
  }

  .about-us-text-lightings-img {
    top: -3.5rem;
  }

  .our-products {
    display: block;
  }

  .our-products-category {
    margin: 3rem 0 0 0;
  }

  .our-address-map-google-embeded {
    width: 96%;
    height: 60vh;
    margin: auto;
  }

  .our-address-shop-details {
    justify-content: center;
  }

  .our-address-shop-details-text h3 {
    padding: 2rem 0 0.5rem 0;
  }

  .our-address-shop-details-image-div {
    width: 42%;
  }
}

@media (max-width: 600px) {
  body {
    background-image: none;
    font-size: 1rem;
  }

  header {

    display: none;

    /* background-image: none;
    background-color: white;
    height: fit-content; */

    /* min-height: 90vh;
    margin: 0 0 0 0;
    flex-direction: column;
    justify-content: flex-start; */
   
  }

  .logo-fanari-3-small-viewport {
    display: block;
    width: 25%;

    margin: 0 auto 8rem auto;
  }

  .brand-name {
    margin: 10px 10px 20px 10px;
    box-shadow: none;
    height: fit-content;
  }

  .brand-name-image {
    width: 100%;
  }

  .brand-alist ul li a {
    width: 80%;
    font-size: 1rem;
  }

  .image-store-div {
    width: 100%;
    margin: 1rem auto 0 auto;
  }

    .about-us-text {
    width: 80%;
    background-color: rgba(235, 230, 219, 1);
    margin: 3rem auto 0 auto;
    padding: 2rem 2rem 2rem 4rem;
    font-weight: 500;
    line-height: 2;
  }

  .about-us-text-lightings-img {
    top: -4.95rem;
  }

  .our-products {
    display: block;
    width: 90%;
    margin: 0 auto 0 auto;
  }

  .contact-us-text-call-img {
    width: 3.5rem;
    /* margin: 0 2rem 0 2rem; */
    margin: 0 1.5rem 0 1.5rem;
  }

  .contact-us-text-message-apps-a {
    width: 7rem;
  }

  .our-address-shop-details {
    width: 100%;

    margin: 5rem 0 0 0;
    background-color: rgba(235, 230, 219, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-address-shop-details-image-div {
    width: 100%;
  }

  .our-address-shop-details-image {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .about-us-h2,
  .about-us-h1 {
    padding: 0 1rem 0 1rem;
  }

  .about-us-h3 {
    text-align: inherit;
  }

  .contact-us-text-call-img {
    width: 3rem;
    /* margin: 0 2rem 0 2rem; */
    margin: 0 1rem 0 1rem;
  }

  .contact-us-text-message-apps-img {
    width: 3.5rem;
  }

  .contact-us-text-message-apps-a {
    width: 5.6rem;
  }

  .contact-us-text-message-apps-figcaption {
    font-size: 0.9rem;
  }
}

/*<----- Main: Products -> Fanaria Section ------>*/

/* .fanaria {
  /* background-color: sandybrown; */
/* } */

div.polaroid {
  display: inline-block;
  width: 80%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

div.polaroid img {
  width: 100%;
  max-width: 400px;
  background-color: whitesmoke;
}
