/*  gradient colors / color palette
,  rgb(234,171,174), rgb(131,75,61), rgb(235,43,227), rgb(175,156,116,0.3)*/

@font-face {
  font-family: Sansation_Regular;
  src: url(/resources/fonts/Sansation_Regular.ttf);
}

@font-face {
  font-family: Sansation_Regular_gr;
  src: url(/resources/fonts/Sansation-Regular-gr.ttf);
}

@font-face {
  font-family: Manrope;
  src: url(/resources/fonts/Manrope-Regular.ttf);
}

* {
  scroll-behavior: smooth;
  margin:0;
}

body {
  background-image: linear-gradient(
    
    rgb(175, 156, 116, 0.2),
    rgb(234, 171, 174),
    rgb(131, 75, 61, 0.5),
    rgb(235, 43, 227, 0.5)
  );
  background-repeat: no-repeat;
  font-family: Sansation_Regular_gr;
}
/*<---Header: Logo and Lantern <----*/

header {
 
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
  background-image: url(https://img.freepik.com/free-photo/rough-plaster-wall_1194-7175.jpg?size=626&ext=jpg&ga=GA1.2.2037429681.1628812800);
}

.brand-alist ul {
  padding: 0 0 0 0;
}

.brand-alist ul li {
  display: inline-block;
}

.brand-alist ul li a {
  text-decoration: none;
  font-size: 18px;
}


.brand-name {
  border: none;
 background-color: transparent;
 margin: 20px;
 border-radius: 2px;
}

.brand-name:hover {
  box-shadow: 20px -1px 80px rgb(235,43,227, 0.5) ; /* add shadow 25px -3px 90px rgb(235,43,227) */
}



/*<----- Navigation Bar ------>*/

.nav-bar {
  background-color: rgba(255, 250, 205, 0.8);
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-items: flex-start;
  overflow:visible;
  max-height: 20px;
  padding: 5px;
  margin: 0 0 0 0;
  
 

}

.nav-bar li {
  display: inline-block;
}

.nav-bar li a {
  text-decoration: none;
 
  
}

.nav-bar li a:hover {
    text-decoration: underline;
}

/* ----- Navigation Bar: Logo Image - Fanari ----*/

.logo-fanari3 {
    width: 90px;
    height: 90px;
    background-image: url(/resources/images/logo-lighted3.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0px 0 3.4rem;
    
  }
  
  .logo-fanari3:hover {
    background-image: url(/resources/images/logo-lighted.png);
    box-shadow: 20px -1px 80px whitesmoke;
    border-radius: 30%;
  }
  
  @media (max-width: 992px) {
    .logo-fanari3 {
      position: relative;
      width: 60px;
    height: 60px;
    }
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .logo-fanari3 {
      position: relative;
      width: 60px;
      height: 60px;
    }
  }
  
  @media (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .logo-fanari3 {
      position: relative;
      width: 60px;
      height: 60px;
    }
  }
  


  /*<----- Main: Store Section ------>*/

.aboutUs {
    width: 65%;
    margin: auto;
    /*background-color: rgba(32, 178, 171, 0.377);*/
  }
  
  .aboutUs > h1 {
    text-align: center;
  }
  .image-store {
    width: 65%;
    margin: 4% 15% 15% 15%;
    background-position: center;
  }