/* -----> Notes on Color Palette -----
 gradient colors:
 rgb(234,171,174), rgb(131,75,61), rgb(235,43,227), rgb(175,156,116,0.3)
font color of Dimitris poulimenos : rgb(124, 69, 106, 1), but looks more similar  color:  rgb(112, 22, 84);
font color of handmade: rgb(29, 55, 46, 1)
*/

@font-face {
  font-family: Sansation_Regular;
  src: url(/resources/fonts/Sansation_Regular.ttf);
}

@font-face {
  font-family: Sansation_Regular_gr;
  src: url(/resources/fonts/Sansation-Regular-gr.ttf);
}

@font-face {
  font-family: Sansation_Italic;
  src: url(/resources/fonts/Sansation_Italic.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.identity,
.close {
  display: none;
}

/*<----- Navigation Bar ------>*/

.nav-bar {
  /* background-color: rgb(231, 220, 209, 0.5);
  try background color :a brighter yellow like rgba(243, 243, 52, 0.63) */
  /* background-color: transparent; */

  /* background-image: url("/resources/images/rough-plaster-wall-half.jpg"); */

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 243, 237, 1) 13.69%,
    rgba(235, 230, 219, 1) 54.46%,
    rgba(254, 250, 241, 0.9254) 72.52%,
    rgba(124, 69, 106, 0.76) 94.27%,
    rgba(53, 5, 65, 0.28) 100%
  );

  /* background-image: linear-gradient(to right, 
          rgba(255, 255, 255, 1) 0%,
          rgba(245, 243, 237, 1) 13.69%,
          rgba(235, 230, 219, 1) 54.46%,
          rgba(124, 69, 106, 0.76) 78.65%,
          rgba(53, 5, 65, 0.6) 100%); */

  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-items: center;
  overflow: visible;
  max-height: 40px;
  padding: 0 1rem;
  margin: 0 0 0 0;
  z-index: 1;
}

.nav-bar li {
  display: inline-block;
  color: #551a8b;
}

.nav-bar li a {
  text-decoration: none;
  padding: 0 2px;
  font-weight: 500;
}

.nav-bar li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.nav-bar li a:active {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: rgba(246, 151, 243, 1);
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 15rem;
  padding: 1rem 0 1rem 0;
  background-color: rgba(245, 243, 237, 1);
  left: -5px;
  top: 20px;
  padding: 0.5rem 0 0 1rem;
  line-height: 1.2rem;
}

.dropdown-menu li {
  padding: 0.4rem;
}

.fb {
  font-size: 1.5rem}

/* ----- Navigation Bar: Logo Image - Fanari ----*/

.logo-fanari3 {
  width: 90px;
  height: 90px;
  background-image: url(/resources/images/logo-not-lighted.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 50px 0px 0 3.4rem;
  position: relative;
  border-radius: 40px;
}

.logo-fanari3:hover {
  background-image: url(/resources/images/logo-lighted2.png);
  border-radius: 40px;
  /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
  filter: drop-shadow(5px 5px 15px rgba(124, 69, 106, 0.76))
    drop-shadow(5px 17px 20px rgba(246, 151, 243, 0.3));
}

/* ----- Media Queries ----*/

@media (max-width: 992px) {
  .logo-fanari3 {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 40px 0px 0 3.4rem;
  }
}

@media (max-width: 768px) {
  .logo-fanari3 {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 30px 0px 0 3.4rem;
  }
}

@media (max-width: 600px) {

 

  .identity {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close {
    display: block;
  }

  .brand-name-image {
    width: 55%;
   
  }

  .nav-bar {
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: flex-start;



    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(245, 243, 237, 1) 13.69%,
      rgba(235, 230, 219, 1) 54.46%,
      rgba(124, 69, 106, 1) 92.65%,
      rgba(53, 5, 65, 1) 99%
    );

    position: absolute;
    overflow: hidden;

    top: 0;
    left: 0;
    width: 100%;
    max-height: none;
    height: 100vh;

    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }

  nav:target {
    transform: translateY(0);
  }

  .nav-bar > ul {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1rem;
   
  }

  .nav-bar ul li {
    margin: 1rem 0;
  }


  .nav-bar ul li a {
    padding: 0 3.3px;
   
  }

  
  
  .nav-bar li a:active {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    color: rgba(246, 151, 243, 1);
  }

  

  .nav-bar span {
    display: none;
  }

  .dropdown-menu {
    position: relative;
    display: block;
    background-color: transparent;
    margin:  0;
    padding: 0 0 0 1.5rem;
 
  }

  .hamburger,
  .close {
    font-size: 2rem;
  }

  .logo-fanari3 {
    display: none;
  }
}
