@font-face {
  font-family: Sansation_Regular_gr;
  src: url(/resources/fonts/Sansation-Regular-gr.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

body {
  font-family: "Didact Gothic", sans-serif;

  background-color: rgba(245, 243, 237, 0.3);
}

h1 {
  font-family: Sansation_Regular_gr, "Didact Gothic", sans-serif;

  text-align: center;
  font-stretch: ultra-expanded;
  color: rgb(53, 5, 65);

  margin: 4.5rem auto 0 auto;
}

h2 {
  margin: 1rem auto 0 auto;
  text-align: center;
  font-stretch: ultra-expanded;
  font-size: 1.2rem;
  color: rgba(29, 55, 46, 1);
}

.img-liston {
  width: 100%;
  margin: 4.5rem 0 0 0;
  height: 40vh;
  object-fit: cover;
  object-position: bottom right;
}

.img-lamp {
  width: 100%;
  margin: 4.5rem 0 0 0;
  height: 40vh;
  object-fit: contain;
  /* object-position: top center; */
}

.img-column {
  width: 100%;
  margin: 4.5rem 0 0 0;
  height: 40vh;
  object-fit: cover;
  object-position: center center;
}

.img-krani {
  width: 100%;
  margin: 4.5rem 0 0 0;
  height: 40vh;
  object-fit: cover;
  object-position: center;
}

.about-product {
  width: 70%;
  /* background-color: rgba(235, 230, 219, 1); */
  /* margin: 3rem auto 0 auto; */
  padding: 3rem 4rem 3rem 4rem;
  font-weight: 500;
  line-height: 2;
  margin: 0 auto;
}

.about-product p {
  font-weight: 400;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.fanaria,
.fotistika,
.krani,
.kolones {
  margin: 0 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  align-items: stretch;
  padding: 5rem;
}

.fanaria {
  background-image: url(../resources/images/rough-plaster-wall.jpg);
}

.fotistika {
  /* background-image: url(/resources/images/Images/Textured\ Semi-Gloss\ Wallpaper.webp); */
  background-image: url(/resources/images/Images/Wallpaper\ large.webp);
}

.kolones {
  background-image: url(/resources/images/Images/sky\ grey\ cyan.webp);
  background-repeat: no-repeat;
  background-size: cover;
  filter: sepia(0.08);
}

.krani {
  background-image: url(/resources/images/Images/metal.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.polaroid img {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 50vh;
  object-fit: contain;
}

.polaroid-codename {
  font-weight: bold;
  /* color:rgba(29, 55, 46, 1); */
  /* color: #364f64; */
}

div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

div.polaroid img {
  width: 100%;
  max-width: 400px;
  background-color: rgba(245, 243, 237, 1);
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 8rem 0 0 0;
  padding: 0 2.5rem 8rem 2.5rem;

  font-size: 1.3rem;
  text-align: center;
}

.call-to-action h4 {
  margin: 1rem 0 0 0;
  color: rgba(29, 55, 46, 1);
  font-size: 1.4rem;
}

.call-to-action-button {
  margin: 3rem 0 4rem 0;
  padding: 0.5rem 3rem;

  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #aba7a5;
  border-radius: 8px;
  background: #fcf6e8;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fcf6e8),
    to(#d6afca)
  );
  background: -moz-linear-gradient(top, #fcf6e8, #d6afca);
  background: linear-gradient(to bottom, #fcf6e8, #d6afca);
  -webkit-box-shadow: #ffffff 0px 0px 40px 0px;
  -moz-box-shadow: #ffffff 0px 0px 40px 0px;
  box-shadow: #ffffff 0px 0px 40px 0px;
  text-shadow: #ffffff 1px 1px 1px;
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #350541;
  text-decoration: none;
}

.call-to-action-button:hover,
.call-to-action-button:focus {
  border: 1px solid #ddcedd;
  background: #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#e0c9e0)
  );
  background: -moz-linear-gradient(top, #ffffff, #e0c9e0);
  background: linear-gradient(to bottom, #ffffff, #e0c9e0);
  color: #350541;
  text-decoration: none;
}
.call-to-action-button:active {
  background: #dfdbd2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#dfdbd2),
    to(#d6afca)
  );
  background: -moz-linear-gradient(top, #dfdbd2, #d6afca);
  background: linear-gradient(to bottom, #dfdbd2, #d6afca);
}

@media (max-width: 768px) {
  .call-to-action {
    font-size: 1.2rem;
    padding: 0 2.5rem 8rem 2.5rem;
  }

  .call-to-action h4 {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .about-product p {
    margin: 2rem 0 0 0;
  }

  .about-image {
    height: 55vh;
    margin: 2rem 0 0 0;
  }

  .fotistika {
    background-image: url(/resources/images/Images/Wallpaper\ mobile.webp);
    /* background-image: url(/resources/images/Images/Huneycutt\ Textured\ \ Wallpaper.webp); */
    /* background-repeat: no-repeat; */
  }

  .img-lamp {
    object-fit: cover;
    object-position: top;
  }

  .kolones {
    background-image: url(/resources/images/Images/sky\ cyan.webp);
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(0.2);
  }

  .krani {
    background-image: url(/resources/images/Images/metal-mobile.JPG);
    object-fit: contain;
  }

  .call-to-action {
    font-size: 1.2rem;
    padding: 0 0.6rem 5rem 0.6rem;
    margin: 5rem 0 0 0;
   
    
  }

  .call-to-action-button {
    font-weight: normal;
  }
}
