.fanaria {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(250px, 400px));
    gap: 40px;
    justify-content: center;
    align-items: center;
    
}

.polaroid img{
    width: 100%;
    display: block;
}

div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  }