@font-face {
    font-family: Sansation_Regular_gr;
    src: url(/resources/fonts/Sansation-Regular-gr.ttf);
  }
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');



body {
    font-family: 'Didact Gothic', sans-serif;
}

header, h1 {
    font-family: Sansation_Regular_gr, 'Didact Gothic', sans-serif;
}


.fanaria, .fotistika, .krani, .kolones {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(250px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: center;
    
}



.polaroid img{
    width: 100%;
    display: block;
    
   
}

div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  }

  .container {
      text-align: center;
  }

  h1 {
      text-align: center;
  }